# Copier ce fichier en .env et remplir les valeurs
# DATABASE
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=gestion_ecoles

# JWT (À changer par une clé complexe en production)
JWT_SECRET=

# SERVER
PORT=8000
CORS_ORIGIN=http://localhost:5173
